*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titulo{
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.item{
    margin: 0 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}


a{
    text-decoration: none;
    color: rgb(66, 120, 173);
    padding: 10px;
    
}
